body {
    background-image: url("http://www.dq995.com/data/out/13/820452.jpg");
    color: white; 
    
}

.href {
	color: white;

}
.center {
	position: fixed; 
	bottom: 0; 
	width:100%; 
	text-align: center;

}