body {
    background-image: url("./newbackground.jpg");
    font-family: "Arial", Times, serif;
    color: white;
}

.href {
	color: white;

}
.center {
	position: fixed; 
	bottom: 0; 
	width:100%; 
	text-align: center;

}
.all {
	position: absolute;
    left: 80%;
    top: 7%;
    z-index: 2;
}
.pic1 {
	
	position: absolute;
    left: 38.5px;
    top: 25px;
    z-index: 2;

}
.pic2 {
	position: absolute;
    left: ;
    top: ;
    z-index: 1;
}
.name1-1{
	position: absolute;
    left: 40px;
    top: 175px;
    z-index: 3;
      font-size: 30px;
}
.name1-2{
		position: absolute;
    left: 122px;
    top: 175px;
    z-index: 3;
      font-size: 30px;
}
.name2{
	position: absolute;
    left: 83px;
    top: 210px;
    z-index: 10;
     font-weight:;
}