body {
    background-image: url("https://image.freepik.com/free-vector/modern-dark-texture-background_1035-11632.jpg");
    color: white; 
    font-family: "Arial", Times, serif;
    
}

.href {
	color: white;

}
.center {
	position: fixed; 
	bottom: 0; 
	width:100%; 
	text-align: center;

}
.pic1 {
	
	position: absolute;
    left: 82.85%;
    top: 7%;
    z-index: 2;

}
.pic2 {
	position: absolute;
    left: 80%;
    top: 3%;
    z-index: 1;
}
.name1{
	position: absolute;
    left: 83.9%;
    top: 27.5%;
    z-index: 3;
     font-weight:;
      font-size: 25px;
}
.name2{
	position: absolute;
    left: 83%;
    top: 32%;
    z-index: 10;
     font-weight:;
}