body {
    background-image: url("https://image.freepik.com/free-vector/modern-dark-texture-background_1035-11632.jpg");
    color: white; 
    
}
.main {
	 font-family: sans-serif;
    width:85%;
    margin:auto;
    color:white;
    
    padding: 15px;
}

.c {
	position: fixed; 
	bottom: 0; 
	width:100%; 
	text-align: center;

}

.href {
	color: white;

}