body {
    background-image: url("./newbackground.jpg");
    color:white; 
    font-family: "Arial", Times, serif; 
}
.main {
	 font-family: sans-serif;
    width:85%;
    margin:auto;
    color:white;
    padding: 15px;
}

.c {
	/*position: absolute;
	left: 45%;
    top: 90%;*/
    display: flex;
     justify-content: center;
	z-index: 3;
}

.href {
	color: white;
	position: absolute;
   
}
.back {
	position: absolute;
    left: -4%;
    top: -25%;
    z-index: -1;
}
.beta {
	  display: flex;
     justify-content: center;
}
/*.info {
position: absolute;
    left: 550px;
    top: 0%;
     font-weight: 25;
 
    z-index: -1;
}
.infobackground {
	position: absolute;
    left: 550px;
    top: 0%;
    z-index: -1;
}*/