body {
    background-image: url("./newbackground.jpg");
    color:white; 
    font-family: "Arial", Times, serif;
    
}
.main {
	 font-family: sans-serif;
    width:85%;
    margin:auto;
    color:white;
    
    padding: 15px;
}

.c {
	position: absolute;
	left: 45%;
    top: 90%;
	z-index: 3;

}

.href {
	color: white;
	position: absolute;
    left: 40%;
    top: -15%;
}
.back {
	position: absolute;
    left: -4%;
    top: -25%;
    z-index: -1;
}
.info{
position: absolute;
    left: 550px;
    top: 0%;
     font-weight: 25;
    z-index: -1;
}
.infobackground {
	position: absolute;
    left: 550px;
    top: 0%;
    z-index: -1;

}